    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            
                <div id="toggle-sidebar">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            
            <div class="sidebar-brand">
                <a href="#">Control</a>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="~/assets/img/15724888_1247318188695167_3359077683180392085_o.jpg" alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
                        Daniyal
                        <strong>Baig</strong>
                    </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li>
                        <a href="~/dashboard/Index">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-plus"></i>
                            <span>Add</span>
                            <span class="badge badge-pill badge-primary">3</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="~/Company/Create">
                                        Add customers

                                    </a>
                                </li>
                                <li>
                                    <a href="#">Add requests</a>
                                </li>

                                
                            </ul>
                        </div>
                    </li>
                        
                        
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-binoculars"></i>
                            <span>Views</span>
                            <span class="badge badge-pill badge-primary">3</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="~/Company/getCompany">View Companies</a>
                                </li>
                               
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-bolt"></i>
                            <span>Services</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">pending services</a>
                                </li>
                                <li>
                                    <a href="#">services in progress</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
           
            <a href="#">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </nav>
